
body{
	min-width:400px;
}
.navbar{
	background-color:#ffbf00;	
}
.navbar ul{
	float:right;
	font-family:Libre Baskerville;
	margin-top:10px;
}
.navbar li{
	margin-right:15px;
}
.logoc{
	width:110px;
	margin-left:0;
	margin-top:-15px;
}
.csv{
	width:25px;
}
    .csv:hover {
      width:30px;
    }
#admin_name{
	font-family:sans-serif;
	font-size:3.0vh;
}
.logout{
	width:20px;
	margin-top:3px;;
}
.logout:hover{
	width:25px;
}
.l1{
	font-weight:bold;
	font-size:20px;
}

/* modal content*/
.modal-dialog{
	width:72%;
}

#startdate{
	width:15%;
	display:inline;
	margin-left:20px;
}
#enddate{
	width:15%;
	display:inline;
	margin-left:20px;
}
.dateform{
	text-align:center;
}
#downloadbtn{
	background-color:#ffbf00;
	font-family:arial-black;
	font-size:20px;
}

/*floating box */
 .box{
	text-align:center;
	width:18%;
	min-width:18%;
	 line-height: 90%;
	border-radius:12%;
	border: 2px solid #ffbf00;
	background: linear-gradient(#ffbf00,#ffffb3);
	background-color : #ffbf00 ;
	margin-top:-5.5%;
	font-size:3.0vh;
}
.boxtext,#system_status,#power,#since,#lastdate,#line,#weew,#ss{
	display:inline;
}
 #weew{
	margin-top:0;
}
 #colr{
	width:100%;
 margin-top:-20px;
}
#voltageimg,#currentimg,#powerimg,#flowimg{
	width:40%;
	margin-left:70px;
	margin-top:50px;
}

hr{
	background-color:#bfbfbf;
	width:90%;
margin-left:60px;
margin-top:0px;
height:1px;
}

.bt {
    border: none;
    outline: none;
    padding: 12px 20px;
    background-color: transparent;
    cursor: pointer;
    font-size:3.5vh;
	margin-top:-9px;
	font-family: sans-serif;
	font-weight:bold;
	color:#bfbfbf;
	
}
 #weatherimg{
	 width:5%;
	 margin-left:89%;
	 margin-top:-5%;
 }
#degree{
	 margin-left:85%;
	font-size:2.5vh;
	margin-top:-5%;
	font-style:bold;
	float:right;
	margin-right:12%;
}
 #weather{
	font-size:3.0vh;
	font-style:bold;
	 margin-left:85%;
	 margin-top:-3.5%;
	 float:right;
	margin-right:12%;
}
 #day{
	font-size:16px;
}
#personimg{
	margin-left:10px;
	width:100px;
}
#nnp{
	font-family:sans-serif;
	text-align:center;
	position:absolute;
	display:inline;
	margin-left:10px;
	font-size:2.5vh;
}
#locationimg{
	width:40px;
}
#dist,#pw,#en,#cc,#date,#powerpump,#wa,#ac{
	text-align:center;
	position:absolute;
	display:inline;
	margin-left:10px;
	margin-top:5px;
}
#iid,#installationid,#district,#co,#State,#g,#geo1,#coma,#geo2,#energy,#energyunit,#en,#co2,#co2unit,#cc,#numofpump,#hp,#dc,#surf,#waterunit,#water,#days,#activepump{
display:inline;
}
#geo,#co22,#eg,#da,#pump,#wd,#pa{
	text-align:center;
	position:absolute;
	display:inline;
	margin-top:25px;
	margin-left:10px;
}


#panalimg{
	width:40px;
}
#energyimg{
	width:40px;
}
#co2img{
	width:60px;
}
#dateimg{
	width:45px;
}
#pumpimg{
	width:40px;
}
#waterimg{
	width:40px;
}
#activepumpimg{
	width:40px;
	margin-left:10px;
}
.fontchange{
	font-family:sans-serif;
	font-weight:bold;
	font-size:2.2vh;
}
.textchange{
	font-family: sans-serif;
	font-size:1.9vh;
}


@media only screen and (max-width:620px) and (min-device-width: 200px){
  /* For mobile phones: */
 .box{
	 width:45%;
	 margin-top:-120px;
 }
 #admin_name{
	 font-size:2vh;
	 margin-top:-5px;
 }
 .l1{
	 visibility:hidden;
	margin-top:-35px;
 }
.csv{
	margin-top:-15px;
	width:20px;
	margin-left:10px;
}
.logout{
	margin-top:-60px;
	width:18px;
	margin-left:40px;
}
 .logoc{
	 width:80px;
	 margin-left:-20px;
	 
 }
 .col-sm-12{
	 margin-top:15px;
 }
 #colr{
	 margin-top:20px;
 }
 .col-sm-3{
	 margin-top:20px;
 }
#locationimg{
	width:30px;
	margin-top:10px;
}
.fontchange{
	font-size:1.8vh;
}
.textchange{
	font-size:1.6vh;
}
#panalimg{
	position:absolute;
	margin-top:-32px;
	margin-left:205px;
	width:30px;
}
#pw{
	position:absolute;
	margin-top:-35px;
	margin-left:240px;
}
 #energyimg{
	 width:30px;
	 margin-top:25px;
}
#en{
	margin-top:23px;
}
#eg{
	margin-top:39px;
}
#co2img{
	position:absolute;
	margin-top:-28px;
	margin-left:193px;
	width:45px;
	
}
#cc{
	position:absolute;
	margin-top:-30px;
	margin-left:240px;
}
#co22{
	position:absolute;
	margin-top:-13px;
	margin-left:240px;
}
#dateimg{
	width:35px;
	 margin-top:15px;
}
#date{
margin-top:16px;}
#da{
	margin-top:30px;
}
#pumpimg{
	position:absolute;
	margin-top:-45px;
	margin-left:200px;
	width:33px;
}
#powerpump{
	position:absolute;
	margin-top:-45px;
	margin-left:200px;
}
#pump{
	position:absolute;
	margin-top:-27px;
	margin-left:240px;
}
#waterimg{
	width:35px;
}
#wa{
	margin-top:0px;
}
#wd{
	margin-top:17px;
}
#activepumpimg{
	position:absolute;
	margin-top:-45px;
	margin-left:200px;
	width:33px;
}
#ac{
	position:absolute;
	margin-top:-42px;
	margin-left:240px;
}
#pa{
	position:absolute;
	margin-top:-27px;
	margin-left:240px;
}
hr{
margin-left:10px;
}
}


